menu "Wifi Debugger board options"
    choice 
        prompt "Main board select"
        if IDF_TARGET_ESP32

            config M5STACK_CORE
                bool "For M5STACK"
                help
                    using m5 stack core

            config TTGO_T1
                bool "For TTGO_T1"
                help
                    using ttgo t1 board

        endif # IDF_TARGET_ESP32

        if IDF_TARGET_ESP32C3

            config WIFI_DEBUGGER_V_0_1
                bool "Wifi debugger v0.1 main board"
                help
                    Wifi debugger v0.1 main board

            config WIFI_DEBUGGER_V_0_2
                bool "Wifi debugger v0.2 main board"
                default y
                help
                    Wifi debugger v0.2 main board
                    
        endif # IDF_TARGET_ESP32C3

        if IDF_TARGET_ESP32S3

            config WIFI_DEBUGGER_V_0_4
                bool "Wifi debugger v0.4 main board"
                default y
                help
                    Wifi debugger v0.4 main board(esp32S3)

        endif # IDF_TARGET_ESP32S3
    endchoice

    choice 
        prompt "SDCARD BUS select"

        config SD_SPI
            bool "Using SPI bus for SDCARD"
            default y
            help
                using spi bus for SDCARD
    
        config SD_SDIO
            bool "Using SDIO bus for SDCARD"
            help
                using sdio bus for SDCARD
            depends on IDF_TARGET_ESP32S3

    endchoice
endmenu