menu "SDCARD option"

    config SPI_SDCARD_SUPPORT
        bool "USE SPI for sdcard"
        default y
        help
            use SPI port for sdcard

    config SPI_SCARD_PIN_MISO
        int "miso pin"
        default 2
        depends on SPI_SDCARD_SUPPORT
        help
            MISO pin for SDCARD

    config SPI_SCARD_PIN_MOSI
        int "mosi pin"
        default 15
        depends on SPI_SDCARD_SUPPORT
        help
            MOSI pin for SDCARD

    config SPI_SCARD_PIN_CLK
        int "clk pin"
        default 14
        depends on SPI_SDCARD_SUPPORT
        help
            CLK pin for SDCARD

    config SPI_SCARD_PIN_CS
        int "CS pin"
        default 13
        depends on SPI_SDCARD_SUPPORT
        help
            CS pin for SDCARD

    config SPI_SCARD_PORT
        int "spi port"
        default 1
        depends on SPI_SDCARD_SUPPORT
        help
            SPI PORT for SDCARD
endmenu
