<!DOCTYPE html">
<meta charset="utf-8" />  
<title>WIFI logger</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script language="javascript" type="text/javascript">

  var output;
  var stat;
  var isConnact = false;
  var strList = new Array();
  const cMaxLineToPrint = 500
  
  function init() {
    output = document.getElementById("output");
    stat = document.getElementById("status");
    stat.innerText = "Not Connected"
    var pre = document.createElement("pre");
    pre.style.wordWrap = "break-word";
    output.appendChild(pre);

    // console.log(window.location.host);
    // todo use window.location.hostname to access websocket
    // var wsUri = "ws://192.168.10.200/ws";
    var wsUri = "ws://" + window.location.host + "/ws";
    websocket = new WebSocket(wsUri);
    websocket.onopen = function(evt) { onOpen(evt) };
    websocket.onclose = function(evt) { onClose(evt) }; 
    websocket.onmessage = function(evt) { onMessage(evt) };
    websocket.onerror = function(evt) { onError(evt) };
  }

  function onOpen(evt) {
    stat.innerText = "Connected"
    isConnact = true;

    // Request to get UART setting
    msg = String.fromCharCode(17) + String.fromCharCode(1);
    doSend(msg);
  } 

  function onClose(evt) {
      stat.innerText = "Not Connected"
      isConnact = false;
  } 

  function onMessage(evt) {
    var cmd = evt.data.split('');
    if(cmd[0] == String.fromCharCode(18))
    {
      switch(cmd[1])
      {
        case String.fromCharCode(1):
          stat.innerText = " Baudrate: " 
            + evt.data.split(String.fromCharCode(1))[1].split(' ')[0] 
            + " Port: UART" + evt.data.split(' ')[1];
          var strs = evt.data.split(' ');
          for(let i = 2; i < strs.length; i ++)
          {
            stat.innerText += (" " + strs[i]);
          }
          return;
        default:
          break;
      }
    }
    writeToScreen(evt.data);
   } 

  function onError(evt) { 
    stat.innerHTML = "ERROR [" + evt.data + "]"
  } 

  function doSend(message) {
    if(isConnact == true)
    {
      websocket.send(message);
    }
  } 

  function writeToScreen(message) {
    output.lastElementChild.innerText += message;
    if(message.charAt(message.length-1) == '\n')
    {
      strList.push(output.lastElementChild.innerText);
      var pre = document.createElement("pre");
      pre.style.wordWrap = "break-word";
      output.appendChild(pre);
      output.scrollTop = output.scrollHeight;
    }
    while(output.childNodes.length >= cMaxLineToPrint)
    {
      output.removeChild(output.childNodes[0]);
    }
  }

  function saveLogFile() {
    var strs = strList.join("");
    var blob = new Blob([strs], { type: "text/plain;charset=utf-8" });
    var currentdate = new Date(); 
    var datetime = currentdate.getDate() + "/"
                  + (currentdate.getMonth()+1)  + "/" 
                  + currentdate.getFullYear() + " @ "  
                  + currentdate.getHours() + ":"  
                  + currentdate.getMinutes() + ":" 
                  + currentdate.getSeconds();
    saveAs(blob, datetime + ".log");
  }

  function cleareLog() {
    strList = new Array();
    while (output.lastElementChild) {
      output.removeChild(output.lastElementChild);
    }
    var pre = document.createElement("pre");
    pre.style.wordWrap = "break-word";
    output.appendChild(pre);
  }

  function preventDefaultKeys(event) {
    if((event.code === 'Space') || (event.code === 'Enter') || (event.code === 'KeyR')) {
      event.preventDefault();
    }
  }

  window.addEventListener("load", init, false);

  window.onkeydown = (e) => {
    preventDefaultKeys(e);

    if(e.key.length != 1)
    {
      switch(e.key)
      {
        case 'Enter':
          doSend('\n');
          return;
        default:
          return;
      }
    }
    var ctrlKey = '\0';
    switch(e.key)
    {
      case 'c':
        ctrlKey = String.fromCharCode(3);
        break;
      case 'r':
        ctrlKey = String.fromCharCode(18);
        break;
      case 'v':
        ctrlKey = String.fromCharCode(22);
      case 's':
        ctrlKey = String.fromCharCode(19);
      case 't':
        ctrlKey = String.fromCharCode(20);
        break;
      default:
        break;
    }

    if((e.ctrlKey == true) && (ctrlKey != '\0'))
    {
      doSend(ctrlKey);
    }
    else
    {
      doSend(e.key);
    }
  }
  
  window.onkeyup = (e) => {
    preventDefaultKeys(e);
  }

  window.addEventListener("unload", function () {
    if(isConnact == true)
    {
      if(websocket.readyState == WebSocket.OPEN)
      {
        connect(false);
      }
    }
  });

</script>

<style>
  .setting {
    height: 22px;
  }
  .settingLable {
    display: inline-block;
    width:60px;
  }
  .button {
    height: 22px; 
    width: 100px; 
    margin: 1px;
  }
  pre {
    margin: 0px;
  }
</style>
<h2 style="height: 22px">Debug Console</h2>
<body style="overflow-y:auto; margin: 5px">
    <div style="width:100px; float: left; margin: 5px">
      <button type="button" onclick="saveLogFile()" class="button">Save Log</button>
    </div>
    <div style="width:100px; float: left; margin: 5px">
      <button type="button" onclick="cleareLog()" class="button">Cleare Log</button>
    </div>
    <div style="width:300px; float: left; margin: 5px">
      <div class="setting" id="status">def</div>
    </div>
  <div id="output" style="overflow-y:auto; overflow-x:hidden; width:100%; height: calc(100% - 120px); border: 1px solid; margin-top: 10px;"></div>
</body>

</html>
